:root{
    --b_back:rgb(222, 241, 253);
    --s_white: #fff;
    --tex_hed_color: rgb(14, 41, 161);
    --rd_color:rgb(255, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: auto;
    min-height: 100%;
    background: var(--b_back);
}
header{
    width: 100%;
    height:50px;
    background: var(--s_white);
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header section{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
header section:nth-child(1){
    width: 40%;
    color: var(--tex_hed_color);
    text-shadow: 0px 0px 2px aqua;
    justify-content: flex-start;
}
header section:nth-child(2){
    justify-content: flex-end;
}
header section:nth-child(2) p{
    display: inline;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: relative;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
header section:nth-child(2) p:nth-child(1)::after{
    content: 'Home';
}
header section:nth-child(2) p:nth-child(2)::after{
    content: 'About';
}
header section:nth-child(2) p:nth-child(3)::after{
    content: 'Services';
}
header section:nth-child(2) p:nth-child(4)::after{
    content: 'Login';
}
header section:nth-child(2) p::after{
    content: '';
    position: absolute;
    bottom: 0;
    width:0;
    height: 100%;
    background: var(--tex_hed_color);
    left: 0;
    transition: all .2s ease-in-out;
    z-index: 20;
    color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header section:nth-child(2) p:hover::after{
    width: 100%;
    color: white;
}
header section:nth-child(2) p:hover{
    color: var(--tex_hed_color);
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.342);
    color: transparent;
}
header section:nth-child(2) button{
    display: inline;
    padding: 5px 10px 5px 10px;
    border: none;
    color: var(--s_white);
    border-radius: 5px;
    background: var(--tex_hed_color);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
header section:nth-child(2) button:hover{
    background: var(--s_white);
    color: var(--tex_hed_color);
    box-shadow: 0 0 3px rgba(0, 0, 255, 0.342);
}
header section:nth-child(2) button:active{
    background: var(--s_white);
    color: var(--tex_hed_color);
    box-shadow: inset 0 0 10px rgba(0, 0, 255, 0.342);
    transform: scale(0.98);
}

main{
    width: 100%;
    height: auto;
    min-height: 300px;
    /* background: var(--rd_color); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 30px 5px 30px;
    position: relative;
}
main section:nth-child(1){
    width: 60%;
    height: 70vh;
    padding: 50px 20px 20px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* background-color: yellow; */
}
main section:nth-child(2){
    width: 40%;
    height: 70VH;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 20PX 20PX 20PX 20PX;
    position: relative;
}
main section:nth-child(2) img{
    width: 90%;
    aspect-ratio: 1;
    object-fit: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
main section:nth-child(2)::before{
    content: '';
    width: 100%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba(0, 204, 255, 0.425);
    position: absolute;
    transform: rotate(30deg);
}
main section:nth-child(1) .bt-bash{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    gap: 15px;
}

main section:nth-child(1) .bt-bash button{
    border: 2px solid blue;
    background: none;
    width: 180px;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
main section:nth-child(1) .bt-bash button:hover{
    background-color: blue;
    color: white;
}
main section:nth-child(1) .bt-bash button:active{
    transform: scale(0.95);
    box-shadow: inset 2px 2px 15px blue;
    background-color: white;
    color: black;
}
main .log{
    width:0;
    height:0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    background-color:rgba(245, 245, 245, 0.836);
    transition: all .5s ease-in-out ;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
main .log-active{
    width: 100%;
    height: 100%;
    opacity: 1;
}

main .log .log-card{
    width: 25vw;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(211, 211, 211, 0.904);
    padding: 20px;
    display:none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}
main .log .log-card-active{
    display: flex;
}
main .log .log-card input{
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 10px;
    background: var(--b_back);
    box-shadow:inset 0 0 10px gray;
    color:maroon;
    
}
main .log .log-card h1{
    color: blue;
}
main .log .log-card .log-forg{
    padding: 10px;
}
main .log .log-card .log-forg .f1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}
main .log .log-card .log-forg .f1:nth-child(1) input{
    display: inline;
    width: 20px;
    aspect-ratio: 1;
    height: auto;
}
main .log .log-card .log-forg .f1:nth-child(2){
    justify-content: flex-end;
}
main .log .log-card button img{
    width: 25px;
    aspect-ratio: 1;
}
main .log .log-card button{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    border: none;
    box-shadow:inset 0 0 5px blue;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
main .log .log-card button:hover{
    background: blue;
    color: white;
}
